/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens MD */
@media only screen and (max-width : 1200px) {
	.features_item {
		text-align: center;
	}
	.features_item .feature_desc {
		display: block;
		margin-top: 10px;
	}

}

/* Medium Devices, Desktops SM */ 
@media only screen and (max-width : 992px) {
	.features_item {
		display: inline-block;
		text-align: left;
	}
	.features_item .feature_desc {
		display: inline-block;
		margin-top: 10px;
	}

}

/* Small Devices, Tablets XS*/
@media only screen and (max-width : 768px) {
	.top_telephone, .logo, .top_description  {
		text-align: center;
	}
	.logo {
		margin-bottom: 15px;
	}
	.top_telephone {
		font-size: 25px;
	}
	.features_item .feature_desc {
		display: block;
		margin-top: 10px;
	}
	.features_item {
		display: block;
		text-align: center;
		margin-top: 40px;
	}
	.features_item:nth-child(1) {
		margin-top: 10px;
	}
}
@media only screen and (max-width : 620px) {
	.profi_descr h3 {
		font-size: 24px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top_description {
		margin-top: 30px;
	}
	.top_description h1 {
		font-size: 40px;
	}
	.top_description p {
		font-size: 28px;
	}
	.button_wrap {
		text-align: center;
	}

	/*profi*/
	.profi_item {
		text-align: center;
		width: 100%;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.top_telephone, .logo {
		text-align: center;
	}
	.logo {
		margin-bottom: 15px;
	}
}

@media (min-height: 680px) and (min-width: 1400px) {
	.header_tabs {
		position: absolute;
	}
	.header_tabs > div {
		width: 100%;
		max-width: 666px;
	}
	
}